@using FeedbackWebsite.Utils
@using FeedbackWebsite.ViewModels
@model FeedbackWebsite.ViewModels.IndexViewModel


<h1>@ViewData["Title"]</h1>

<h4>Questions Info Model</h4>
<hr />
<div class="row">
    <div class="col-md">
        <form asp-action="AddOrEdit" asp-route-eventId="@Model.EventId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @foreach (var qText in Model.QuestionsAnswers)
                {
                        @if (qText.QuestionType)
                        {
                            @(await Html.PartialAsync("shared/EnumAnswerView", qText as QuestionsAnswersEnum))

                        }
                        else
                        {
                            @(await Html.PartialAsync("shared/TextAnswerView", qText as QuestionsAnswersText))

                        }
                }
                

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
