@using FeedbackWebsite.Utils
@using FeedbackWebsite.ViewModels
@model FeedbackWebsite.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="container">
    <h4>Questions Info Model</h4>
    <hr />



    @foreach (var qText in Model.QuestionsAnswers)
    {

        <div class="row">
            <div class="col-6 col-md-4">Question</div>
            <div class="col-12 col-md-8">@Html.DisplayFor(model => qText.QuestionText)</div>
            <div class="w-100"></div>
            <div class="col-6 col-md-4">Answer</div>
            <div class="col-12 col-md-8">@qText.GetAnswer()</div>

        </div>

        <hr />

    }


</div>
<div>
    <a asp-action="AddOrEdit" asp-route-eventId="@Model.EventId">
        <button type="button" class="btn btn-info">Edit</button>
    </a>
    @*<a asp-action="AddOrEdit" asp-route-id="@Model.EventId"></a>*@ |
    <a asp-controller="Feedback" asp-action="Index">Back to List</a>
</div>
