@{
    ViewData["Title"] = "Confirm your Email";
}

<h2>@ViewData["Title"]</h2>
<h6>
    <br />To complete the registration, check the email and click on the link indicated in the letter
</h6>

<div class="form-group">
    <a class="btn btn-secondary" asp-controller="Account" asp-action="Login" role="button">Back</a>
</div>