@{
    ViewData["Title"] = "Email is not confirmed";
}

<h2>@ViewData["Title"]</h2>
<h6>
    <br />Please, confirm your email first
</h6>

<div class="form-group">
    <a class="btn btn-secondary" asp-controller="Account" asp-action="Login" role="button">Back</a>
</div>