@{
    ViewData["Title"] = "Email is not found";
}

<h2>@ViewData["Title"]</h2>
<h6>
    <br/>Oops! User with this email was not found
</h6>

<div class="form-group">
    <a class="btn btn-secondary" asp-controller="Account" asp-action="Login" role="button">Back</a>
</div>